body {
background-color: #85e3f8;
}

html, body {
  margin: 0;
  padding: 0;
  clear: both;
}

.navbar {
  height: 109px;
  position: relative;
  background-color: #dbd645 !important;
}

.logo {
  width: 117px;
  height: 68px;
  margin-top: -5px;
  margin-left: 5px;
} 

#navbarNav {
  margin-left: 550px;
  padding: 35px;
}

.donate {
  margin-top: 135px;
  margin-left: 525px;
  background-color: #6b3074;
  color: white;
  position: fixed;
}

.slide {
  margin-top: 100px;
  width: 1265px;
}

.carousel-indicators li {
  height: 17px;
  width: 17px;
  background-color: #dbd645;
  border-radius: 50%;
  display: inline-block;
}

.firstPic {
  margin-left: 98px;
}

.secondPic {
  margin-left: 127px;
}

.homeText {
  margin-top: 110px;
  text-align: center;
}

.homeTextTwo {
  text-align: center;
}

.homePictures {
  margin-top: 15px;
  margin-left: 70px;
}

