body {
background-color: #85e3f8;
}

html, body {
  margin: 0;
  padding: 0;
  clear: both;
}

.navbar {
  height: 90px;
  position: relative;
  left: -15px;
  width: 1265px;
  background-color: #dbd645 !important;
}

.logo {
  width: 105px;
  height: 61px;
  position: absolute;
  top: 13px;
  left: 43px;
} 

#navbarNav {
  position: absolute;
  left: 765px;
  padding: 35px;
}

.donateOne {
  position: absolute;
  top: 25px;
  left: 500px;
  background-color: #6b3074;
  color: white;
}

.slide {
  margin-top: 40px;
  width: 1265px;
}

.carousel-indicators {
  margin-left: 140px;
}

.carousel-indicators li {
  height: 17px;
  width: 17px;
  background-color: #dbd645;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

#firstText {
  margin-top: 90px;
}

.homeText {
  margin-left: 173px;
  text-align: center;
  color: #6b3074;
  width: 875px;
}

.donateTwo {
  background-color: #6b3074;
  color: white;
  position: absolute;
  top: 870px;
  left: 500px;  
}

.firstPic {
  margin-left: 98px;
}

.secondPic {
  margin-left: 127px;
}

.homePictures {
  margin-top: 30px;
  margin-left: 50px;
}

.healthInfo {
  position: relative;
  top: 119px;
  left: 38px;
  text-align: center;
  width: 1000px;
}

.healthHeader {
  margin-left: 83px;
  text-align: center;
  color: #6b3074;
}

.agriInfo {
  position: relative;
  top: -100px;
  left: 463px;
  text-align: center;
  width: 1000px;
}

.agriHeader {
  margin-left: 3px;
  text-align: center;
  color: #6b3074;
}

.dataInfo {
  position: relative;
  top: -299px;
  left: 870px;
  text-align: center;
  width: 1000px;
}

.dataHeader {
  margin-left: 5px;
  text-align: center;
  color: #6b3074;
}

.readMoreHealth {
  background-color: #6b3074;
  color: white;
  position: relative;
  top: 130px;
  left: 115px;
}

.readMoreAgri {
  background-color: #6b3074;
  color: white;
  position: relative;
  top: -67px;
  left: 544px;
}

.readMoreData {
  background-color: #6b3074;
  color: white; 
  position: relative;
  top: -406px;
  left: 957px;
}

.healthAgriData {
  position: relative;
  top: -30px;
  bottom: 20px;
}

.healthPara, .agriPara, .dataPara {
 color: #6b3074;
}

.talkingBookHome {
  width: 800px;
  position: relative;
  top: -130px;
  left: 44px;
}

.donateThree {
  color: white;
  background-color: #6b3074; 
  position: absolute;
  top: 850px;
  left: 530px;
}
