body {
background-color: #85e3f8;
}

html, body {
  margin: 0;
  padding: 0;
  clear: both;
}


.navbar {
  height: 109px;
  position: relative;
  background-color: #dbd645 !important;
}

.logo {
  width: 117px;
  height: 68px;
  margin-top: -5px;
  margin-left: 5px;
} 

#navbarNav {
  margin-left: 650px;
}

